*{
    font-family:Caladea;
}
/*.box{
    border:1px solid black
    
}*/

   
input
{
    width:66px;
}
.flex
{
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 1200px;
    margin: 20px;
}
.padding
{
    padding: 20px;
}
.right
{
    float:right;
}
.line{
    line-height: 10px;
}
#cont>div
{
    margin-bottom: 10px;
}
#bill p
{
    color: black;
    font-size: 20px;
    margin: 10px;
}
#target p
{
    color:black;
    font-size: 15px;
    margin: 10px;
}
#target div
{
    margin: 10px;
}
button
{
    background-color: maroon;
    border: 1px solid maroon;
    color:wheat;
    font-size: medium;
    border-radius: 5px;
}
.heading img
{
    height:50px;
    width: 50px;    
}
.heading div
{
    margin: 10px;
}
.left
{
    float:left;
    
}
#image1
{
    grid-area: w;
}
#image2
{
    grid-area: x;
}
#image3
{
    grid-area: y;
}
#image4
{
    grid-area: z;
}
.flexbox
{
    display: grid;
    grid-gap:20px;
    background: black;
    height:220px;
    padding-right: 30px;
    /*margin-top: 20px;
    height: 30%;*/
    grid-template-columns: auto;
    grid-template-rows: auto ;
    grid-template-areas: "w x"
                           "y z"  ;
}

.flexbox img
{
    height:200px;
    width:200px;
}
.flexbox>div
{
    margin:20px
}
.clear
{
    clear: both;
}
div>h1
{
    color:rgba(43, 145, 6);
    text-align: center;
    line-height: 1px;    
}
.heading
{
    height:10%;   
    width:90%; 
    margin-left: 40px;
}

.img_change
{
    padding:20px;
}
#rest1{
    grid-area: a;
}
#rest2{
    grid-area: b;
}
#rest3{
    grid-area: c;
}
#rest4{
    grid-area: d;
}
#rest5{
    grid-area: e;
}
#rest6{
    grid-area: f;
}
#rest7{
    grid-area: g;
}
#rest8{
    grid-area: h;
}
#rest9{
    grid-area: i;
}
#rest10{
    grid-area: j;
}
#rest11{
    grid-area: k;
}
#rest12{
    grid-area: l;
}
div>h3{
    line-height: 1px;
}
div>p
{
    font-size: small;
    color:lightslategray;
    line-height: 1px;
}
.grid
{
    display:grid;
    grid-gap: 20px;
    max-width: 480px;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l";
    
    
}
a{
    text-decoration: none;
    color:black;
}
img{
    object-fit: cover;
}
.grid>div
{
    height: 200px;
    width:200px;
    margin:auto;
    padding: 10px;    

}
.grid img{
    height: 150px;
    width:200px;
}
@media only screen and (min-width: 480px)
{
.flexbox
{
    grid-gap:20px;
    max-width: 600px;
    /*margin: auto;*/
    padding-right: 30px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "w x"
                        "y z" ;
}
.grid
{
    display:grid;
    grid-gap: 20px;
    max-width: 600px;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "a" "b" "c"  "d" "e"  "f" "g" "h" "i" "j" "k" "l";
    
}
}
@media only screen and (min-width: 600px)
{
.flexbox
{
    display:grid;
    grid-gap:20px;
    max-width:992px;
    padding-right: 30px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "w x"
                        "y z" ;
}
.grid
{
    display:grid;
    grid-gap: 20px;
    max-width: 740px;
    
    grid-template-rows: auto auto;
    grid-template-columns: 300px 300px;
    grid-template-areas: "a b" "c  d"  "e  f" "g h" "i j" "k l";
    
}
}
@media only screen and (min-width: 742px)
{
.flexbox
{
    display:grid;
    grid-gap:20px;
    max-width:992px;
    padding-right: 30px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "w x y z";
}
.grid
{
    display:grid;
    grid-gap: 20px;
    max-width: 992px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 300px 300px 300px;
    grid-template-areas: "a b c"  "d  e  f" "g h i" " j k l";
    
}
}

@media only screen and (min-width: 1200px)
{
.flexbox
{
    padding:30px;
    display:grid;
    grid-gap:110px;
    /*margin: auto;*/
    padding-right: 350px;
    position: relative;
    left:-23px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "w x y z";
}
.grid
{
    display:grid;
    grid-gap: 20px;
    
    grid-template-rows: auto auto auto;
    grid-template-columns: 300px 300px 300px;
    grid-template-areas: "a b c d"  "e  f g h" "i j k l";
    
}
}